<script context="module" lang="ts">
	export const ssr = false;
	export const prerender = false;
	export const DBnomicsFetchersGroupId = 16;
</script>

<script>
	import { browser } from '$app/env'

	let projects = []
	let client
	if (browser) {
		import('@gitbeaker/browser').then(async ({ Gitlab }) => {
			const client = new Gitlab({host:"https://git.nomics.world"})
		})
	}

	async function getProjects(client) {
		// // Get all dbnomics-fetchers group's projects
		// projects = await client.Groups.projects(DBnomicsFetchersGroupId, {perPage: 200})
		// // order them by name
		// projects.sort((a, b) => a.name.localeCompare(b.name))

		// Get all dbnomics-fetchers group's projects
		projects = await client.Groups.projects(DBnomicsFetchersGroupId, {perPage: 200})
		// debugger
	}

	projects = getProjects(client)

</script>

{#await projects}
	<p>loading...</p>
{:then projectsArray}
	{projectsArray.length} projects
	<ul>
	{#each projectsArray as project}
		<li>
			{project.name}
		</li>
	{/each}
	</ul>
{:catch error}
	<p>Error loading projects: {error}</p>
{/await}
